<article class="post">

    <header>
        <div class="post-header-left">
            <img src="" alt="">
            <span>{{ post.author }}</span>
        </div>
        <div class="post-header-right"></div>
    </header>

    <div class="post-photo-container">
        {% if type == 'list' %}
        <a href="{% url 'post:post_detail' post_pk=post.pk %}">
            <img src="{{ post.photo.url }}">
        </a>
        {% else %}
        <img src="{{ post.photo.url }}">

        {% endif %}
    </div>

    <div class="post-btn-container">
        <a href="#">
            <img src="" alt="">
        </a>
        <a href="#">
            <img src="" alt="">
        </a>
    </div>

    <div class="post-like">
        <p>
            좋아요 {{ post.like_count }}개
        </p>
    </div>

    <div class="post-comment-container">
        {% for comment in post.comment_set.all %}
        <div class="post-comment">
            <a href="#" class="comment-author">
                {{ comment.author }}
            </a>
            <span class="comment-content">
                {{ comment.content }}
            </span>
            <a href="#" class="comment-tag"></a>
        </div>
        {% endfor %}
    </div>
    <p class="created">{{ post.created_date }}</p>

    <form action="{% url 'post:comment_create' post_pk=post.pk %}" method="POST" class="form-inline">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit">댓글달기</button>
    </form>
</article>